html{

}

body{
  background-image: url("../images/gun_metal.png");
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#bodyWrap{
  flex: 1;
}

#logo{
  height: 55px;
  float: left;
  margin: 7px;
  background-color: #55d6aa;
}

footer{
  height: 55px;
  background-color: black;
  display: flex;
  border-top: 2px solid #55d6aa;
  margin-top: 30px;
}

footer p{
  color: #55d6aa;
  margin: auto;
}

.container{
  width: 80%;
  margin: 0 auto;
}

header{
  background: black;
  border-bottom: 2px solid #55d6aa;
  margin-bottom: 15px;
}

header::after{
  display: block;
  content: "";
  clear: both;

}

#logoText{
  color: white;
  line-height: 55px;
  font-family: 'Bitter', serif;
  font-size: 2em;
  padding-left: 15px;
  padding-right: 15px;
}

p{
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

nav{
  float: right;
}

/*#navWrapper{
  display: flex;
}*/

nav ul{
  list-style: none;
}

nav li{
  display: inline-block;
  margin-left: 15px;
  line-height: 75px;
  font-family: 'Bitter', serif;
}

nav a {
  text-decoration: none;
  color: white;
}

nav a:visited{
  color: white;
}

nav a:active{
  color: purple;
}

p, h2{
  color: white;
}

h1, h2{
  font-family: 'Bitter', serif;
  color: black;
}

.columnWrapper{
  /*flex-wrap: wrap;*/
  padding-top: 35px;
  padding-bottom: 16px;
}

#mainColumn{
  background-color: #ccff33;
  flex-basis: 65%;
  border-radius: 5px;
  padding: 10px 0;
}

/*FORM STYLING*/
.formText, .formInput{
  margin-bottom: 7px;
}

.formInput{
  border-radius: 5px;
  line-height: 20px;
  padding: 5px;
  width: 97%;
}

#formWrap{
  margin: 0 5%;
  padding-bottom: 10px;
}

textarea{
  height: 125px;
}
/*CONNECT WITH ME SIDEBAR*/
#sideColumn{
  background-color: #ccff33;
  height: 120px;
  flex-basis: 26%;
  border-radius: 5px;
  padding: 10px 0;
}

.hr{
  width: 80%;
}

.connectImage{
  width: 60px;
  height: 60px;
  margin: 0 auto;
}

#iconWrapper{
  text-align: center;
}

#iconWrapper a{
  margin: 0 auto;
}

.columnHeader{
  font-size: 1.3em;
  padding: 6px;
  text-align: center;

}

/*MEDIA QUERIES*/
@media screen and (min-width: 700px){
  .columnWrapper{
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (max-width: 500px){
  #logo{
    position: relative;
    left: 25%;
    right: 25%;
    /*margin-left: 20%;
    margin-right: 20%;*/

  }

  #navbar{
    clear: both;
    position: relative;
    right: 18%;
  }


}
